{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/main.js' %}"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2 sidenav hidden-xs">

                    <h2>Network</h2>

                    <ul class="nav nav-pills nav-stacked">
                        {% if user.is_authenticated %}
                            <li>
                                <button id="profile-button"><strong>{{ user.username }}</strong></button>
                            </li>
                        {% endif %}
                            <li>
                            <button id="all-posts-button">All Posts</button>
                            </li>
                        {% if user.is_authenticated %}
                            <li>
                                <button id="following-button">Following</button>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Log In</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

        <!-- <nav class="side-nav navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav> -->
        
    
            {% block body %}
            {% endblock %}
        

        </div>
    </div>
    </div>
    </body>
</html>